{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "standard",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": "warn"
  }
}